.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid green;
  font-size: 35px;
}

button {
  padding: 5px;
  font-size: 20px;
}