.App {
  font-size: 35px;
  position: relative;
}

button {
  padding: 5px;
  font-size: 20px;
  margin-left: 1rem;
}

/* -------- navigation style -------- */
.navigator {
  height: 10vh;
  width: 100%;
  background-color: gray;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-ul {
  display: flex;
}

.link {
  list-style-type: none;
  cursor: pointer;
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

/* ---- blogs style ------ */

.content-title {
  width: 80%;
  margin: 0 auto;
}


/* ---- home component ----- */
.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  height: 80vh;
  margin: 2rem auto auto auto;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px -1px #000000; 
  box-shadow: 0px 0px 3px -1px #000000;
}

/* --- blog list component --- */

.bloglist-content:hover {
  box-shadow: 11px 16px 16px -6px rgba(0,0,0,0.27);
}
.bloglist-content {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  border-radius: 10px;
}

.blogpost-title {
  color: lightcoral;
}
.blog {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.delete-post {
  align-self: center;
  cursor: pointer;
}

/* ------ create blog ------ */

.create-blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}