.App {
  display: flex;
  justify-content: center;
  font-size: 35px;
  position: relative;
}

button {
  padding: 5px;
  font-size: 20px;
  margin-left: 1rem;
}

/* -------- navigation style -------- */
.navigator {
  height: 10vh;
  width: 100%;
  /* background-color: green; */
}

.navigation-ul {
  display: flex;
  justify-content: center;
}

.navigation-ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 0 1rem;
}

.navigation-ul li:hover {
  text-decoration: underline;
}

/* ---- content style ------ */

.content-title {
  margin-top: 50px;
  width: 90%;
}